@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: 0, 0%, 100%;
  --light-gray: 0, 0%, 98%;
  --dark-gray: 0, 0%, 52%;
  --dark-blue: 209, 23%, 22%;
  --dark-blue-background: 207, 26%, 17%;
  --dark-blue-text: 200, 15%, 8%;

  --nunito: 'Nunito Sans', sans-serif;
}

body {
  background-color: var(--light-gray);
  font-family: var(--nunito);
  color: var(--dark-blue-text);
}